* {
    margin: 0 0;
}

html {
    background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-03/1615821195_1-p-fon-prostoi-2.jpg');
    height: 80%;
}


body {
}


.header{
    width: 100%;
    height: 250px;
    background: linear-gradient(to right, rgba(193, 200, 228, 0.4), rgba(86, 128, 233, 0.4), rgba(132, 206, 235, 0.4), rgba(90, 185, 234, 0.4), rgba(193, 200, 228, 0.4));
}
.row {
    height: 200px;
}


.main_menu{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    padding-top: 50px;
    margin: 0 auto;
    width: 40%;
}

.main_menu a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 34;
}

.main_menu li{
    list-style: none;
    min-width: 140px;
    width: 70%;
    height: 50px;
    box-shadow: 10px 10px 10px black;
    font-family: monospace;
    border-radius: 100px;
    text-align: center;
    background: #8860D0;
    margin: 5% 5%;
}

.main_menu li:hover{
    transition-duration: 0.5s;
    box-shadow: 15px 15px 30px black;
}


.main_menu p{
    font-size: 22px;
    margin-top: 8px;
    font-family: Bradley Hand, cursive;
}


.logo_block {
    float: left;
    width: 18%;
    min-width: 25px;
    height: 250px;
    min-height: 25px;
    margin-left: 9%;
    margin-top: 2%;
}


.logo {
    height: 60%;
}

.sb_block {
    float: left;
    width: 20%;
}

.sb_logo {
    display: block;
    margin: auto;
    margin-top: 70px;
    width: 100%;
    max-width: 425px;
}



/* content */

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    max-width: 1800px;
    min-width: 300px;
    height: 700px;
    margin: 0 auto;
    background: linear-gradient(to bottom right, #5AB9EA, #8860D0);
    border-radius: 60px;
    box-shadow: 30px 30px 30px black;
    margin-bottom: 100px;
}


/* search */

.se {
    max-width: 300px;
    min-height: 2em;
    margin-left: auto;
    margin-right: 1.5em;
}

* {box-sizing: border-box;}

.se form {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  margin-top: 20px;
  max-width: 300px;
  padding: 20px;
  box-shadow: 10px 10px 15px black;
  border-radius: 20px/20px;
}

input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 4px solid rgba(29, 122, 29, 1);
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}

button {
  position: absolute;
  top: 10;
  right: 10px;
  width: 42px;
  height: 42px;
  border: none;
  background: rgba(29, 132, 29, 1);
  cursor: pointer;
  border-radius: 3px
}

button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: black;
}


/* TABLE */

.container table {
    width: 95%;
    margin: 0px auto;
    padding-top: 20px;
}

.container h1 {
    color: rgba(0, 0, 0, 0);
}

.container h2 {
    height: 40px;
    background: rgba(0, 0, 200, 0.5);
    color: white;
    text-align: center;
    font-weight: 600;
}

table {
    border-spacing: 0;
    empty-cells: hide;
}

td {
    height: 60px;
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #F4EEE8;
    transition: all 0.5s linear;
}

td:first-child {
    text-align: center;
    color: #3D3511;
    font-weight: bold;
}

th {
    padding: 10px 20px;
    color: #3D3511;
    border-bottom: 1px solid #F4EEE8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

td:nth-child(even) {
}

td:nth-child(odd) {
}

th:nth-child(even)  {
    background: #5AB9EA;
}

th:nth-child(odd)  {
    background: #84CEEB;
}

.round-top {
    border-radius: 5px;
}

.round-bottom {
    border-radius: 5px;
}

tr:hover td{

}





.scroll-table-body {
	height: 500px;
	overflow-x: auto;
	margin-top: 0px;
	margin-bottom: 20px;
}
.scroll-table table {
	width:100%;
	table-layout: fixed;
	border: none;
}
.scroll-table thead th {
	font-weight: bold;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
}
.scroll-table tbody td {
	text-align: left;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}





/* Стили для скролла */
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


/* account */

.container-account {
    max-width: 1800px;
    min-width: 300px;
    height: 700px;
    margin: 100px auto;
    background: linear-gradient(to bottom right, #5AB9EA, #8860D0);
    border-radius: 60px;
    box-shadow: 30px 30px 30px black;
    margin-bottom: 100px;
}

.pict_block {
    float: left;
    width: 30%;
    margin-left: 5%;
    margin-top: 6%;
    height: 60%;
}

.pict_block img{
    height: 80%;
    margin-left: 20%;
    border-radius: 260px;
}

.info {
    float: left;
    width: 50%;
    height: 70%;
    margin-top: 5%;
}

.top-country {
    height: 45%;
}

.top-city {
    height: 45%;
    margin-top: 5%;
}

.loc {
    font-size: 250%;
    font-weight: 700;
    color: #8860D0;
    text-align: center;
    padding: 1%;
    height: 30%;
    border-radius: 40px;
    background: linear-gradient(to bottom right, #395492, #0099C0, #3DD5A8);
    box-shadow: 15px 15px 15px black;
    font-family: sans-serif;
}

.reit {
    font-size: 34px;
    text-align: center;
    font-weight: 600;
    color: black;
    background: linear-gradient(to bottom right, #395492, #0099C0, #3DD5A8);
    width: 50%;
    margin: 0 auto;
    margin-top: 4%;
    height: 20%;
    border-radius: 100px;
    box-shadow: 10px 10px 10px black;
    font-family: sans-serif;
}

.pict_block p {
    margin: 0 auto;
    text-align: center;
    height: 15%;
    padding-top: 1.5%;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 700;
}





#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#zatemnenie:target {display: block;}

#zatemnenie_1 {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#zatemnenie_1:target {display: block;}

#okno {
    width: 500px;
    height: 100px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    color: #0000cc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
    font-size: 20px;
    font-weight: 700;
}

.close {
    display: inline-block;
    border: 2px solid #42aaff;
    border-radius: 20px/20px;
    width: 100px;
    color: black;
    background: #FBEEC1;
    padding: 0 12px;
    margin: 20px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 24px;
    cursor:pointer;
    font-weight: 400;
    box-shadow: 2px 2px 5px black;
}

.close:hover {
    background: #FBEEC1;
    transform: scale(0.95);
}